/* general */  /*  */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

*{                                      /* to everything in the doc */
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}


li {
    list-style-type: none;              /*no bullet points next to lists*/
}

h1, h2, h3 {
    font-family: 'Roboto Serif', serif;
    font-weight: 800;
    color: rgb(144, 0, 0);
    text-transform: uppercase;
}

h4, h5, h6, a, p{
    font-family: 'Roboto Serif', sans-serif;
    font-weight: 500;
}

section {
    height: 100vh;
    width: 100vw;
}

img{
    max-width: auto;
    max-height: 50vh;
}

li, p, #logo, img, a, .button { /* so that the transiotions of animation of for eg hover are smoother */
    transition:all 300ms; -webkit-transition:all 300ms; -moz-transition:all 300ms; -o-transition:all 300ms;
        /* it is written several times and also with sth before transitoin,  so that it works in all browsers */
}

.section1{
    background-color:  rgb(255, 248, 231);
}

.section2{
    background-color:  rgb(0, 166, 158);
}

/* Header *********************************************/

#header{
    top: 0;
    width: 100vw;
    height: 70px;
    background-color: antiquewhite;
    position: sticky;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid aqua;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
    padding-bottom: 5px;
}



#ulHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    padding-top: 5px;
}
#ulHeader > li{
    height: 100%;
}

.headerLinks {
    font-size: 20px;
    margin: 0 13px 0 13px;
    color: black;
    display: flex;
    height: 100%;
    align-items: center;
}
#logo{
    border-radius: 50%;
    height: 80%;
    overflow: hidden;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    margin: 3px;
    box-shadow: 0 5px 3px black;
}

/* middle */
#secWelcome{
    display: flex;
}

.divWelcome{
    padding: 80px;
    box-sizing: border-box;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

#divWelcomeText{

}

#divWelcomeText > h1{
    font-size: 60px;
}

#divWelcomeText > h2{
    font-size: 32px;
}

#divWelcomeText > p{
    font-size: 11px;
} 

#divHelloText{

}